.container {
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.header, .signup {
    color: white;
    display: flex;
}
.header {
    flex-wrap: nowrap;
    border-bottom: solid 1px rgba(255, 255, 255, 0.24);
}
.expand {
    flex: 1 1 auto;
}
.signup {
    justify-content: flex-end;
}
.signup-form {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3); 
}
.signup-btn {
    width: fit-content;
    margin :0px auto;
}

/*Validations*/

input.ng-invalid.ng-touched {
    border: 1.5px solid red;
}



